@import "tailwindcss";


@import 'bootstrap/dist/css/bootstrap.min.css';



body {
  background-color: #Fefefc;
  color: #333333;
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

p{
  margin-bottom: 0px;
}
