.container{
    display: flex;
    justify-content: center;
    align-items: center;
  /* width: 100vw;*/
  width: 100%;
  height: 100vh; 
  /* overflow: hidden;  prevents any extra scrolling */
  background-image: url("../../public/login3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

.card{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background: rgba(255, 255, 255, 0.8);
}