.container{
    height: auto;
    padding: 10px 10px;
    /* background-color: red; */
    /* width: 100%; */
}


.cont{
    background: #fff8e1;
    border-radius: 10px;
    padding: 0px 10px;
    height: 100%;
}


.containerLink{
    display:flex; 
    flex-direction:row; 
    /* justifyContent:'', */
    align-items:center;
    text-align:center;
    column-gap:5px;
    position: relative;
    color: #333333;
    /* color: white; */
}