.container{
    margin-top: 100px;
    height:300px;
    /* text-align:center; */
    background-image: url('../../../public/images\ \(2\).jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* color: aliceblue; */
}

.containerIcon{
    display:flex; 
    flex-direction:row;  
    column-gap:10px;
}