.container{
    /* height:250px; */
    margin: 50px 20px;
    padding: 0px;
    margin-top: 30px;
    /* margin: 30px auto; */
    position: relative;
}

.heading{
    display:flex;
    flex-direction:row ;
    justify-content:space-between;
    align-items: center;
    /* padding: 5px; */
    margin-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    /* color:rgb(247, 108, 108) */

}

.headingH1{
    margin: 0px;
    font-weight: 900;
}