.container{
    /* height:250px; */
    margin: 50px 20px;
    padding: 0px;
    margin-top: 30px;
    /* margin: 30px auto; */
}

.heading{
    display:flex;
    flex-direction:row ;
    justify-content:space-between;
    padding: 5px;

}

.headingH1{
    margin: 0px;
}