.container{
    padding: 40px 20px;
    padding-bottom: 50px;
    color: #FFF8E1;
}

.containerLower{
    padding: 20px 50px;
    color: #FFF8E1;
    text-align:center;
    background:#2c2c2c;
}

.containerLower p{
    margin: 0px;
}